.headerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  @media (min-width: 768px) {
    padding: 10px 20px;
  }
}
.rightMenuWrapper,
.leftMenuWrapper {
  display: flex;
  align-items: center;
}

.rightMenuWrapper {
  justify-content: space-around;
}
.leftMenuWrapper {
  justify-content: flex-start;
}
.middleMenuWrapper {
  width: auto;
}

.logoWrapper {
  width: 1.75em;
  margin: 0 0.5em;
  @media (min-width: 768px) {
    width: 40px;
  }
}

.iconWrapper {
  width: 1.25em;
  margin: 0 0.5em;
  @media (min-width: 768px) {
    width: 1.5em;
  }
}
.iconfacebookWrapper {
  width: 1em;
  margin: 0 0.5em;
  @media (min-width: 768px) {
    width: 1.25em;
  }
}

.menuLabels {
  font-family: 'Airbnb Cereal App Light';
  font-size: 13px;
  padding-bottom: 5px;
  margin: 0;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
