.heroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/bgHeroLeftGrape.png'),
    url('../../assets/bgHeroRightGrape.png');
  background-repeat: no-repeat;
  background-position: 0% 20%, 100% 80%;
  background-size: 20%;
  @media (min-width: 24em) {
    background-size: 15%;
  }
  @media (min-width: 46.8em) {
    background-position: 0% 15%, 100% 80%;
    background-size: 15%;
  }
  @media (min-width: 50em) {
    background-position: 0% 40%, 100% 65%;
    background-size: 10%;
  }
  @media (min-width: 73em) {
    background-position: 0% 30%, 100% 65%;
    background-size: 10%;
  }
}

.heroText {
  margin: 0;
  width: 80%;
  font-family: 'Airbnb Cereal App Light';
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  @media (min-width: 46.8em) {
    font-size: 2.25rem;
  }
  @media (min-width: 73em) {
    font-size: 2.5rem;
  }
}
.heroPic {
  width: 15em;
  @media (min-width: 46.8em) {
    width: 20em;
  }
  @media (min-width: 50em) {
    width: 25em;
  }
  @media (min-width: 73em) {
    width: 25em;
  }
}
.heroQuote {
  margin: 0;
  width: 80%;
  font-family: 'Airbnb Cereal App Light';
  font-size: 0.75rem;
  line-height: 3rem;
  text-align: center;
  span {
    font-family: 'Airbnb Cereal App';
    font-style: italic;
  }
  @media (min-width: 46.8em) {
    font-size: 1.25rem;
  }
  @media (min-width: 73em) {
    font-size: 1.5rem;
  }
}

.emptyDiv {
  height: 40px;
}
