.prestationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 1em;
  @media (min-width: 24em) {
    padding: 50px 36px;
  }
  @media (min-width: 50em) {
    padding: 100px 36px;
  }
}
.lineWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  @media (min-width: 50em) {
    padding: 2em;
    width: 60%;
    flex-direction: row;
  }
}
.reverseLineWrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 1em;
  @media (min-width: 50em) {
    padding: 2em;
    width: 60%;
    flex-direction: row;
  }
}

.imgContainerRight {
  margin: 3em;
  border-radius: 15px;
  overflow: hidden;
  @media (min-width: 50em) {
    margin-left: 10em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.imgContainerLeft {
  margin: 3em;
  border-radius: 15px;
  overflow: hidden;
  @media (min-width: 50em) {
    margin-right: 10em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.txtContainer {
  font-family: 'Encode Sans SC Light';
  width: 90%;
  text-align: left;
  justify-self: center;
  font-size: 0.75em;
  text-align: justify;
  text-justify: auto;
  h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fffefe;
  }
  @media (min-width: 24em) {
    width: 80%;
  }
  @media (min-width: 50em) {
    width: 50%;
    text-align: left;
  }
}
